@model Festispec.Web.Models.SurveyModel

@{
	ViewBag.Title = "Survey afnemen";
}

@section Scripts
{
	<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
	<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
	<script>
		let surveyId = @Html.Raw(Model.Survey.Id);
	</script>
	<script src="@Url.Content("~/Scripts/survey/conduct/conduct.js")"></script>
}

<h2>Survey</h2>
<form class="survey-container" method="post">

	@foreach (var question in Model.Questions)
	{
		<h3>@question.Details.Question</h3>
		@Html.EditorFor(m => question);
		<br />
		<span><strong>Beschrijving: </strong> @question.Details.Description</span>
	}
	<input type="submit" id="saveSurvey"></input>
</form>