<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Festispec</title>
    <link rel="shortcut icon"
          href="@Url.Content("~/Festispec-icon.ico")">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("/Scripts/DrawingJS.js")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
    <script src="@Url.Content("~/Scripts/survey/conduct/conduct.js")"></script>
    <script src="@Url.Content("~/Scripts/survey/question/table.js")"></script>
    <script src="@Url.Content("~/Scripts/survey/question/slider.js")"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="@Url.Action("Index", "Survey")">
                    <img class="logo" src="@Url.Content("~/Content/FestispecLogo.png")" runat="server">
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Vragenlijsten", "Index", "Survey")</li>
                </ul>
                @using Festispec.Web.Models.Auth
                @if (UserSession.Current.Employee != null)
                {
                    using (Html.BeginForm("Logout", "User", FormMethod.Post))
                    {
                        <input type="submit" value="Uitloggen" class="logout">
                    }
                }
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
			<p>&copy; @DateTime.Now.Year - Festispec vragenlijsten app</p>
        </footer>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
