@model Festispec.Web.Models.Questions.Types.SliderQuestionType


<div class="form-group slider-question-container">
    <div class="range-value">@Model.Details.Choices.Cols[0]</div>
    <label>@Html.DisplayFor(m => m.Details.Choices.Cols[0])</label>
    <input type="range"
            name="@Html.DisplayFor(m => m.Variable)"
            min="@Html.DisplayFor(m => m.Details.Choices.Cols[0])"
            max="@Html.DisplayFor(m => m.Details.Choices.Cols[1])"
            class="survey-question"
            value="@Model.Details.Choices.Cols[0]"
            required />
    <label>@Html.DisplayFor(m => m.Details.Choices.Cols[1])</label>
</div>
